<?xml version="1.0" encoding="UTF-8"?>
<flex-config>
	<compiler>
		<source-path>
			<path-element>./src</path-element>
		</source-path>
		<library-path append="true">
			<path-element>./libs/</path-element>
			<path-element>./libs/assets/</path-element>
		</library-path>
		<strict>true</strict>
		<!--<locale>
			<locale-element>en_US</locale-element>
		</locale>-->
		<define>
			<name>CONFIG::debug</name>
			<value>false</value>
		</define>
		<define>
			<name>CONFIG::release</name>
			<value>false</value>
		</define>
		<define>
			<name>CONFIG::embedFonts</name>
			<value>true</value>
		</define>
		<define>
			<name>CONFIG::timeStamp</name>
			<value>"9999-12-31"</value>
		</define>
		<define>
			<name>R3::BRAND_NAME_LONG</name>
			<value>"FlashFlashRevolution"</value>
		</define>
		<define>
			<name>R3::BRAND_NAME_SHORT</name>
			<value>"FFR"</value>
		</define>
		<define>
			<name>R3::ROOT_URL</name>
			<value>"www.flashflashrevolution.com"</value>
		</define>
		<define>
			<name>R3::HASH_STRING</name>
			<value>"hashstring"</value>
		</define>
		<define>
			<name>R3::VERSION</name>
			<value>"2.0"</value>
		</define>
		<define>
			<name>R3::VERSION_PREFIX</name>
			<value>""</value>
		</define>
		<define>
			<name>R3::VERSION_SUFFIX</name>
			<value>""</value>
		</define>
	</compiler>
	<swf-version>26</swf-version>
	<target-player>26.0</target-player>
	<warnings>true</warnings>
	<use-direct-blit>true</use-direct-blit>
	<default-size>
		<width>780</width>
		<height>480</height>
	</default-size>
	<default-frame-rate>60</default-frame-rate>
	<default-background-color>#000000</default-background-color>
</flex-config>
