<?xml version="1.0" encoding="UTF-8"?>
<flex-config>
	<compiler>
		<source-path>
			<path-element>./AachenLight/src</path-element>
			<path-element>./BebasNeue/src</path-element>
			<path-element>./BreeSerifRegular/src</path-element>
			<path-element>./Ultra/src</path-element>
			<path-element>./Xolonium/src</path-element>
			<path-element>./HussarBold/src</path-element>
			<path-element>./NotoSans/src</path-element>
		</source-path>
	</compiler>
	<include-sources>
		<path-element>./AachenLight/src</path-element>
		<path-element>./BebasNeue/src</path-element>
		<path-element>./BreeSerifRegular/src</path-element>
		<path-element>./Ultra/src</path-element>
		<path-element>./Xolonium/src</path-element>
		<path-element>./HussarBold/src</path-element>
		<path-element>./NotoSans/src</path-element>
	</include-sources>
	<output>bin/Embedded-Fonts.swc</output>
	<swf-version>43</swf-version>
	<target-player>32.0</target-player>
</flex-config>
